*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

html,
body {
  max-height: -webkit-fill-available;
}

button {
  border: none;
}

hr {
  border-style: solid;
}

input {
  border: none;
  font-family: var(--font);
  width: 100%;
}

label {
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

.hidden {
  display: none !important;
}
